
.navbar{
    display:flex;
    background-color: #376444;
    box-sizing: border-box;
    padding:0;
    justify-content:normal;
    z-index:1;
    font-family:'Libre Baskerville';
    }
    
   
    .navbar a{
    float:left;
    display:block;
    text-align:center;
    color:#E8E6D4;
    padding:40px 30px;
    text-decoration:none;
    font-size:25px;
    box-sizing: border-box;
    }
    
    
    .navbar a:hover{
    background-color:black;
    font-size:30px;
    }
    
    .navbar a.right{
    float:right;
    }
    
    #pagetop{
    overflow:hidden;
    background-color: #172A1B;
    
    }
    
    #pagetop a{
    float:right;
    color:#E8E6D4;
    font-size:25px;
    display:block;
    padding:30px;
    text-decoration:none;
    }
    
    #pagetop a:hover{
    background-color:black;
    
    }
    
    .dropbtn {
        display: block;
        background-color: #376444;
        color: #E8E6D4;
        padding: 40px 30px;
        font-size: 25px;
        border: none;
        font-family:'Libre Baskerville';
    }
    
    .dropdown{
    position:relative;
    float:left;
    
    }
    
    .dropdown-content{
     display:none;
    position:absolute;
    background-color:#F1D3E1;
    min-width:160px;
    z-index: 10;
    
    }
    
        .dropdown-content a {
            color: black;
            padding: 20px 30px;
            display: block;
            text-decoration: none;
            width: 100% ;
            font-family:'Libre Baskerville';
        }
    
    .dropdown-content a:hover{
    
    background-color:rgb(208, 155, 164);}
    
    .dropdown:hover .dropdown-content{
    display:block;
    
    }
    
    .dropdown:hover .dropbtn {
    background-color: black;}



    .footers {
         
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }
    
    .footer-data
    {
        padding:40px;
        text-align:left;
        font-size:15px;
    }


    body {
        background-color: #E8E6D4;
         
        background-size: cover;
        background-position: center;
        height: auto;  
        margin: 0;  
        
    }
    
    .login-container {
        padding-top:250px;
        margin-top:40px;
    }
    
    #Login {
        max-width: 500px;  
        width: 100%;  
        padding: 20px;  
        border-radius: 15px;  
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
        background-color: rgba(255, 255, 255, 0.9);  
        font-family: 'Libre Baskerville';  
        font-size: 15px;  
        margin: 30px auto ;  
        position: relative;  
        top: 50%;  
        transform: translateY(-50%);  
    }
    

 
.button {
    font-family:'Libre Baskerville'; 

    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px; 
    background-color: #96D9C0; 
    text-align: center; 
    border-radius: 10px; 
    width: 100%; 
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Button hover effect */
.button:hover {
    background-color: #51A687; 
}

/* Input styles */
input {
    
    margin: 5px 0 20px 0;
    border-radius: 10px; 
    box-sizing: border-box; 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; /* Add border for better visibility */
    font-size: 16px; /* Set a reasonable font size */
}

/* Add focus effect for input */
input:focus {
    border-color: #51A687; /* Change border color on focus */
    outline: none; /* Remove default outline */
}
